In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [11]:
data = pd.read_csv('C:/Users/udith_/Downloads/basket.csv')

In [12]:
# Identify the structure of dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14963 entries, 0 to 14962
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14963 non-null  object
 1   1       14963 non-null  object
 2   2       4883 non-null   object
 3   3       2185 non-null   object
 4   4       795 non-null    object
 5   5       451 non-null    object
 6   6       276 non-null    object
 7   7       196 non-null    object
 8   8       51 non-null     object
 9   9       1 non-null      object
 10  10      1 non-null      object
dtypes: object(11)
memory usage: 1.3+ MB

In [13]:
# Identify the summary of dataset
data.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,14963,14963,4883,2185,795,451,276,196,51,1,1
unique,165,165,154,146,126,101,88,72,35,1,1
top,whole milk,whole milk,whole milk,whole milk,whole milk,shopping bags,yogurt,whole milk,shopping bags,curd,newspapers
freq,1083,983,244,111,39,25,19,14,4,1,1

In [14]:
# To find the null values
data.isna().sum()

0         0
1         0
2     10080
3     12778
4     14168
5     14512
6     14687
7     14767
8     14912
9     14962
10    14962
dtype: int64

In [16]:
# Fill null values
data=data.fillna('')

In [17]:
data.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [18]:
df=pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,10
0,whole milk,pastry,salty snack,,,,,,,,
1,sausage,whole milk,semi-finished bread,yogurt,,,,,,,
2,soda,pickled vegetables,,,,,,,,,
3,canned beer,misc. beverages,,,,,,,,,
4,sausage,hygiene articles,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
14958,butter milk,whipped/sour cream,,,,,,,,,
14959,bottled water,herbs,,,,,,,,,
14960,fruit/vegetable juice,onions,,,,,,,,,
14961,bottled beer,other vegetables,,,,,,,,,
14962,soda,root vegetables,semi-finished bread,,,,,,,,

In [19]:
oht = pd.get_dummies(df)

In [20]:
# Apriori
frequent_item_sets = apriori(oht, min_support=0.4, use_colnames=True)

In [21]:
# Association rules
association_rules_df = association_rules(frequent_item_sets, metric='confidence', min_threshold=0.7)
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2_),(3_),0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
1,(3_),(2_),0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
2,(4_),(2_),0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
3,(2_),(4_),0.673662,0.946869,0.673662,1.000000,1.056112,0.035792,inf,0.162810
4,(2_),(5_),0.673662,0.969859,0.673662,1.000000,1.031078,0.020305,inf,0.092361
...,...,...,...,...,...,...,...,...,...,...
15995,"(4_, 2_)","(7_, 8_, 10_, 9_, 3_, 6_, 5_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15996,"(2_, 6_)","(7_, 8_, 10_, 9_, 3_, 4_, 5_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15997,(3_),"(7_, 8_, 5_, 10_, 9_, 4_, 6_, 2_)",0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
15998,(4_),"(7_, 8_, 5_, 10_, 9_, 3_, 6_, 2_)",0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
15999,(2_),"(7_, 8_, 5_, 10_, 9_, 3_, 4_, 6_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471

In [22]:
# Frequent_item_set
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2_),(3_),0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
1,(3_),(2_),0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
2,(4_),(2_),0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
3,(2_),(4_),0.673662,0.946869,0.673662,1.000000,1.056112,0.035792,inf,0.162810
4,(2_),(5_),0.673662,0.969859,0.673662,1.000000,1.031078,0.020305,inf,0.092361
...,...,...,...,...,...,...,...,...,...,...
15995,"(4_, 2_)","(7_, 8_, 10_, 9_, 3_, 6_, 5_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15996,"(2_, 6_)","(7_, 8_, 10_, 9_, 3_, 4_, 5_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471
15997,(3_),"(7_, 8_, 5_, 10_, 9_, 4_, 6_, 2_)",0.853973,0.673662,0.673662,0.788856,1.170997,0.098373,1.545571,1.000000
15998,(4_),"(7_, 8_, 5_, 10_, 9_, 3_, 6_, 2_)",0.946869,0.673662,0.673662,0.711462,1.056112,0.035792,1.131008,1.000000
15999,(2_),"(7_, 8_, 5_, 10_, 9_, 3_, 4_, 6_)",0.673662,0.853973,0.673662,1.000000,1.170997,0.098373,inf,0.447471

In [23]:
rules = association_rules(frequent_item_sets, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head(5))

   antecedents consequents  antecedent support  consequent support   support  \
0         (2_)        (3_)            0.673662            0.853973  0.673662
72    (4_, 2_)        (3_)            0.673662            0.853973  0.673662
76        (2_)    (4_, 3_)            0.673662            0.853973  0.673662
78    (5_, 2_)        (3_)            0.673662            0.853973  0.673662
82        (2_)    (5_, 3_)            0.673662            0.853973  0.673662

    confidence      lift  leverage  conviction  zhangs_metric
0          1.0  1.170997  0.098373         inf       0.447471
72         1.0  1.170997  0.098373         inf       0.447471
76         1.0  1.170997  0.098373         inf       0.447471
78         1.0  1.170997  0.098373         inf       0.447471
82         1.0  1.170997  0.098373         inf       0.447471

In [24]:
association_rules_df["antecedents_len"]=association_rules_df['antecedents'].apply(lambda x:len(x))
association_rules_df=association_rules_df[association_rules_df['antecedents_len']>1]
association_rules_df = association_rules_df.sort_values(['confidence','support'], ascending =[False,False])
print(association_rules_df.head(5))

    antecedents consequents  antecedent support  consequent support   support  \
507   (10_, 8_)        (9_)            0.996592            0.999933  0.996592
508    (8_, 9_)       (10_)            0.996592            0.999933  0.996592
489    (7_, 8_)        (9_)            0.986901            0.999933  0.986901
491    (7_, 9_)        (8_)            0.986901            0.996592  0.986901
496   (10_, 7_)        (8_)            0.986901            0.996592  0.986901

     confidence      lift  leverage  conviction  zhangs_metric  \
507         1.0  1.000067  0.000067         inf       0.019608
508         1.0  1.000067  0.000067         inf       0.019608
489         1.0  1.000067  0.000066         inf       0.005102
491         1.0  1.003420  0.003364         inf       0.260204
496         1.0  1.003420  0.003364         inf       0.260204

     antecedents_len
507                2
508                2
489                2
491                2
496                2